<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} • Zari Kanani</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<header class="topbar">
  <div class="container">
    <a class="brand" href="{{ '/' | relative_url }}">Zari Kanani</a>
    <nav class="nav">
      <a href="{{ '/about.html' | relative_url }}" class="{% if page.url == '/about.html' %}active{% endif %}">About</a>
      <a href="{{ '/publications.html' | relative_url }}" class="{% if page.url == '/publications.html' %}active{% endif %}">Publications</a>
      <a href="{{ '/projects.html' | relative_url }}" class="{% if page.url == '/projects.html' %}active{% endif %}">Projects</a>
      <a href="{{ '/cv.html' | relative_url }}" class="{% if page.url == '/cv.html' %}active{% endif %}">CV</a>
      <a href="{{ '/certificates.html' | relative_url }}" class="{% if page.url == '/certificates.html' %}active{% endif %}">Certificates</a>
    </nav>
  </div>
</header>


  <main class="container">
    {{ content }}
  </main>

  <footer class="footer">
    © {{ "now" | date: "%Y" }} Zari Kanani
  </footer>
</body>
</html>
